<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>HomeAway</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>

        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/}">
                        [[${application.titulo}]]
                        <img src="/imgs/logoHA.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <!-- voy por aqui -->
                                <!--<a class="nav-link" th:href="@{/usuario/alojamientos}">All Our Accommodations</a>--> 
                                <a class="nav-link" th:href="@{/propietario/alojamientos}">All MY Accommodations{P}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/usuario/alojamientos}">All Accommodations{U}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/rent}">Rent With Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/usuario/resenas}">Reviews</a>
                            </li>
                        </ul>
                        <!-- Botón Log In -->
                        <div class="ms-auto">
                            <a class="btn btn-outline-secondary" th:href="@{/login}" role="button">Log In</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>


        <!--  
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand">[[${application.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-menu-link nav-link" th:href="@{/usuario/resenas}">[[#{plantilla.resena}]]</a></li>
                        </ul>
                        <div class="col-md-3">
                            <ul class="navbar-nav">                                
                                <li class="nav-item px-2"><a class="nav-link" th:href="@{/(lang=en)}">EN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        -->
        <footer th:fragment="footer" class="bg-body-tertiary text-center" style="background-color: #212529; padding: 1rem 0;">
            <div class="container px-3 py-2">
                <!-- Section: Social media -->
                <section class="mb-2 w-50 mx-auto">
                    <!-- Facebook -->
                    <a data-mdb-ripple-init class="btn text-white btn-floating mx-1" style="background-color: #3b5998;" href="#!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!-- Twitter -->
                    <a data-mdb-ripple-init class="btn text-white btn-floating mx-1" style="background-color: #55acee;" href="#!" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!-- Instagram -->
                    <a data-mdb-ripple-init class="btn text-white btn-floating mx-1" style="background-color: #ac2bac;" href="#!" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                </section>       
            </div>
            <!-- Copyright -->
            <div class="text-center py-2" style="background-color: #212529; color: #93928e">
                &COPY; [[#{plantilla.derechos}]]
            </div>           
        </footer>

    </body>
</html>


