
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>HomeAways</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
                    </head>
                    <body>
                        <h1>Listado de Reseñas</h1>
                        <a href="/resenas/nuevo">Agregar nueva reseña</a>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Usuario</th>
                                    <th>Alojamiento</th>
                                    <th>Calificación</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="resena : ${resenas}">
                                    <td th:text="${resena.idResena}"></td>
                                    <td th:text="${resena.usuario.nombre}"></td>
                                    <td th:text="${resena.alojamiento.nombre}"></td>
                                    <td th:text="${resena.calificacion}"></td>
                                    <td th:text="${resena.comentario}"></td>
                                    <td th:text="${resena.fecha}"></td>
                                    <td>
                                        <a th:href="@{/resenas/modificar/{idResena}(idResena=${resena.idResena})}">Modificar</a>
                                        <a th:href="@{/resenas/eliminar/{idResena}(idResena=${resena.idResena})}">Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </body>
                    </html>