<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Listado de Reseñas</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>

    <!-- Fragmento para agregar una nueva reseña -->
    <section th:replace="~{usuario/resena/fragmento :: nuevaResena}"/>
    <!-- Fragmento para modificar una reseña -->
    <section th:replace="~{usuario/resena/fragmento :: modificarResena}"/>
    <!-- Fragmento para listar reseñas -->
    <section th:replace="~{usuario/resena/fragmento :: listadoResenas}"/>

    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
