<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Reseñas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Sección para crear el botón de agregar... llamará a una ventana modal -->
    <section th:fragment="botonesAgregar" class="py-4 mb-0" style="background-color: #d5e6f7; text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="/resenas/nuevo" class="btn btn-primary btn-block" style="background-color: #007bff; border-color: #007bff; margin: 0;">
                        <i class="fas fa-plus"></i> [[#{resena.agregar}]]
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección que muestra todas las reseñas -->
    <section th:fragment="listadoMisResenas" class="light" style="background: #d5e6f7; padding: 1rem 0 2rem; margin-top: 0;">
        <div class="container py-2">
            <div class="h1 text-center text-dark" id="pageHeaderTitle" style="font-size: 2.5rem; margin: 1rem 0;">
                Listado de Reseñas
            </div>
            <div class="row" style="display: flex; flex-wrap: wrap; margin: -10px;">
                <div class="col-md-4" th:each="resena : ${resenas}" style="padding: 10px;">
                    <div class="card shadow mb-4" style="height: 100%;">
                        <div class="card-body" style="display: flex; flex-direction: column; flex-grow: 1;">
                            <h5 class="card-title" th:text="${resena.usuario.nombre}" style="font-weight: bold; text-transform: capitalize;"></h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(resena.fecha, 'dd/MM/yyyy')}"></h6>
                            <p class="card-text" th:text="${resena.comentario}"></p>
                            <p class="card-text">Calificación: <span th:text="${resena.calificacion}"></span></p>
                            <p class="card-text">Alojamiento: <span th:text="${resena.alojamiento.nombre}"></span></p>
                            <div style="margin-top: auto; text-align: center;">
                                <a th:href="@{/resenas/modificar/{idResena}(idResena=${resena.idResena})}" class="btn btn-primary" style="margin-right: 10px;">Editar Reseña</a>
                                <a th:href="@{/resenas/eliminar/{idResena}(idResena=${resena.idResena})}" class="btn btn-danger">Eliminar Reseña</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
