<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>HomeAways</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <div class="wrapper">
            <div id="form-login" class="p-0 d-flex align-self-center justify-content-center ">
                <div class="row">
                    <div class="col-12">
                        <h3 style="text-align: center;">Estamos listos para ofrecerte las mejores opciones</h1>
                        
                    </div>
                    <div class="col-md-6 col-10 mx-auto">
                        <form method="POST" th:action="@{/login}">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="username" name="username" th:placeholder="#{login.username}">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="password" name="password" th:placeholder="#{login.password}">
                            </div>
                            <div class="my-3">
                                <a th:href="@{/registro/recordar}" class="text-secondary"><i class="fas fa-envelope"></i> [[#{accion.recordar}]]</a>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">[[#{login.login}]]</button>
                            <div class="d-flex justify-content-center mt-3">
                                <p class="me-2">¿Aún no tienes una cuenta?</p>
                                <a th:href="@{/registro}" class=""><i class="fas fa-user-plus"></i> [[#{login.registrar}]]</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>